spring:
  datasource:
    url: jdbc:mysql://localhost:3306/upi_db
    username: root
    password: ${DB_PASSWORD}

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false

server:
  port: 8080

jwt:
  secret: ${JWT_SECRET}
  expiration: 86400000
